{#include file='header.html'#}
{#include file='navbar.html'#}

<body>
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" style="margin-bottom:20px">
    <h2 class="am-titlebar-title ">
        新增题目
    </h2>
</div>
<div class="am-g">
    <div class="am-u-md-8 am-u-md-offset-2 am-text-center">
        <form class="am-form">
            <fieldset class="am-form-set">
                <div class="am-u-sm-12">
                    <select id="sectionID" data-am-selected>
                        <option value="-1">请选择章号</option>
                        <option value="1">第一章</option>
                        <option value="2">第二章</option>
                    </select>
                    <span class="am-form-caret"></span>
                    <select id="captureID" data-am-selected>
                        <option value="-1">请选择节号</option>
                        <option value="1">第一节</option>
                        <option value="2">第二节</option>
                    </select>
                    <span class="am-form-caret"></span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="am-g">
    <div class="am-u-md-6 am-u-md-offset-3">
        <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">题目</label>
                    <div class="am-u-sm-10">
                        <textarea class="am-form-field" rows="5" id="problem"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">选项个数</label>
                    <div class="am-u-sm-10">
                        <select data-am-selected id="optionChange">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div id="options">
                    <div class="am-form-group">
                        <label class="am-u-sm-2 am-form-label">A</label>
                        <div class="am-u-sm-10">
                            <input class="am-form-field" type="text" placeholder="请输入选项A">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-2 am-form-label">B</label>
                        <div class="am-u-sm-10">
                            <input class="am-form-field" type="text" placeholder="请输入选项B">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label  class="am-u-sm-2 am-form-label">C</label>
                        <div class="am-u-sm-10">
                            <input class="am-form-field" type="text" placeholder="请输入选项C">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label  class="am-u-sm-2 am-form-label">D</label>
                        <div class="am-u-sm-10">
                            <input class="am-form-field" type="text" placeholder="请输入选项D">
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">答案</label>
                    <div class="am-u-sm-10" id="answers">
                            <label class="am-radio-inline">
                                <input type="radio" value="0" name="option"> A
                            </label>
                            <label class="am-radio-inline ">
                                <input type="radio" value="1" name="option"> B
                            </label>
                            <label class="am-radio-inline ">
                                <input type="radio" value="2" name="option"> C
                            </label>
                            <label class="am-radio-inline ">
                                <input type="radio" value="3" name="option"> D
                            </label>
                    </div>
                </div>
        </form>
    </div>
</div>


<div class="am-form-group">
    <div class="am-u-sm-6 am-u-sm-offset-3 am-text-center">
        <button type="button" id="submit" class="am-btn am-btn-primary">提交</button>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示信息</div>
        <div class="am-modal-bd" id="info">

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<br/>
<script>
    $(document).ready(function(){
        $("#optionChange").change(function(){
            var size = $(this).val();
            var baseString = "";
            var answerString = "";
            for (var i = 0; i < size; i++) {
                baseString += '<div class="am-form-group"><label class="am-u-sm-2 am-form-label">'+String.fromCharCode(65 + i)+'</label><div class="am-u-sm-10"><input type="text" class="am-form-field" placeholder="请输入选项'+String.fromCharCode(65 + i)+'"></div></div>';
                answerString += '<label class="am-radio-inline"><input type="radio" value="'+i+'" name="option">'+String.fromCharCode(65 + i)+'</label>';
            }
            $("#options").html(baseString);
            $("#answers").html(answerString);
        })

        $("#submit").click(function(){
            var pro = $("#problem").val();
            var options = new Array();
            $("#options").children().each(function(index, target){
                options.push($(target).children().eq(1).children().eq(0).val());
            })
            var answer = $("input[name=option]:checked").val();
            if(pro.length == 0) {
                $("#problem").attr("placeholder", "请在这里输入题干");
                $("#info").html("题干不能为空");
                $("#alert").modal();
            } else if(typeof(answer) == 'undefined') {
                $("#info").html("答案不能为空");
                $("#alert").modal();
            } else {
                var errorSig = false;
                for (var i = 0; i < options.length; ++i) {
                    if(options[i].length == 0) {
                        errorSig = true;
                        $("#options").children().eq(i).addClass("am-form-error am-form-icon am-form-feedback");
                        $("#options").children().eq(i).children().eq(1).append('<span class="am-icon-times"></span>');
                    } else {
                        $("#options").children().eq(i).removeClass("am-form-error am-form-icon am-form-feedback");
                        $("#options").children().eq(i).children().eq(1).children().eq(1).remove();
                    }
                }

                if(errorSig == false) {
                    $.post("/learning_c/problem/add", {pro:pro, answer:answer, options:options}, function(data){
                        if(data.status == true) {
                            $("#info").html("提交成功");
                            $("#alert").modal();
                        }
                    })
                }
            }
        })
    })
</script>
{#include file='footer.html'#}
