<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/amazeui.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/amazeui.min.js"></script>
    <title></title>
</head>

<body>
<div class="am-g">
    <div class="am-u-lg-12">
        <from class="am-form">

        </from>
    </div>
</div>


</body>
</html>
