{#include file='header.html'#}
{#include file='navbar.html'#}
<body>
</br>

<div class="am-g">
    <div class="am-u-sm-8 am-u-lg-centered">
        <button type="button" class="am-btn am-btn-primary am-btn-block">历次测试情况</button></br>
        <table class="am-table">
            <thead>
            <tr>
                <th>测试开始时间</th>
                <th>测试所花时间</th>
                <th>正确率</th>
                <th>&nbsp&nbsp&nbsp&nbsp细节</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>8:00</th>
                <th>20min</th>
                <th>80%</th>
                <th><button type="button" class="am-btn am-btn-primary js-modal-open">细节</button></th>
            </tr>
            <tr>
                <th>12:00</th>
                <th>30min</th>
                <th>50%</th>
                <th><button type="button" class="am-btn am-btn-primary js-modal-open">细节</button></th>
            </tr>
            <tr>
                <th>18:00</th>
                <th>10min</th>
                <th>100%</th>
                <th><button type="button" class="am-btn am-btn-primary js-modal-open">细节</button></th>
            </tr>
            <tr>
                <th>20:00</th>
                <th>20min</th>
                <th>60%</th>
                <th><button type="button" class="am-btn am-btn-primary js-modal-open">细节</button></th>
            </tr>
            <tr>
                <th>22:00</th>
                <th>15min</th>
                <th>10%</th>
                <th><button type="button" class="am-btn am-btn-primary js-modal-open">细节</button></th>
            </tr>
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-centered">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        {#include file='footer.html'#}