{#include file='header.html'#}
{#include file='navbar.html'#}
<body>
</br>

<div class="am-g">
    <div class="am-u-sm-8 am-u-lg-centered">
        <button type="button" class="am-btn am-btn-primary am-btn-block">历次做题情况</button></br>
        <div class="am-g">
            <div class="am-u-lg-6">
                <div class="am-input-group">
      <span class="am-input-group-btn">
        <button class="am-btn am-btn-default" type="button" ><span class="am-icon-search"></span> </button>
      </span>
                    <input type="text" class="am-form-field" placeholder="查询题目">
                </div>
            </div>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>题目</th>
                <th>所属章</th>
                <th>所属节</th>
                <th>测试时间</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>3</th>
                <th>2</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>50</th>
                <th>3</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>36</th>
                <th>1</th>
                <th>3</th>
                <th>9:00</th>
                <th>false</th>
            </tr>
            <tr>
                <th>3</th>
                <th>2</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>50</th>
                <th>3</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>36</th>
                <th>1</th>
                <th>3</th>
                <th>9:00</th>
                <th>false</th>
            </tr>
            <tr>
                <th>3</th>
                <th>2</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>50</th>
                <th>3</th>
                <th>1</th>
                <th>8:00</th>
                <th>true</th>
            </tr>
            <tr>
                <th>36</th>
                <th>1</th>
                <th>3</th>
                <th>9:00</th>
                <th>false</th>
            </tr>
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-centered">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    {#include file='footer.html'#}