<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
        <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">C学习跟踪平台</span>
        <span class="am-footer-divider"> | </span>
        <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">版本1.0</a>
    </div>
    <div class="am-footer-miscs ">
        <p>当前时间:{#date("Y-m-d H:i:s", time())#}</p>
    </div>
</footer>
</body>
</html>