{#include file='header.html'#}
<body>
<div class="am-g">
    <div class="am-u-lg-4 am-u-lg-offset-8">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">登 录</a></li>
                <li><a href="#tab2">注 册</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <form action="" class="am-form">
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-vld-name">学 号：</label>
                                <input type="text" id="StuNumber" minlength="3" placeholder="请输入学号" class="am-form-field" required/>
                                <label for="doc-vld-name">密 码：</label>
                                <input type="password" id="Password" minlength="3" placeholder="请输入密码" class="am-form-field" required/>
                            </div>
                            <button type="button" class="am-btn am-btn-secondary" id="SignIn">确认登录</button>
                        </fieldset>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                    <form action="" class="am-form">
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-vld-name">姓 名：</label>
                                <input type="text" id="doc-vld-name" minlength="3" placeholder="请输入姓名" class="am-form-field" required/>
                                <label for="doc-vld-name">学 号：</label>
                                <input type="text" id="doc-vld-name" minlength="3" placeholder="请输入学号" class="am-form-field" required/>
                                <label for="doc-vld-name">密 码：</label>
                                <input type="password" id="doc-vld-name" minlength="3" placeholder="请输入密码" class="am-form-field" required/>
                                <label for="doc-vld-name">确认密码：</label>
                                <input type="password" id="doc-vld-name" minlength="3" placeholder="请再次输入密码" class="am-form-field" required/>
                            </div>
                            <button type="button" class="am-btn am-btn-secondary">确认注册</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#SignIn").click(function () {
            var username = $("#StuNumber").val();
            var password = $("#Password").val();
            $.post("learning_c/user/login", {username:username, password:password}, function(data){
                var arg = eval("(" + data + ")");
                if(arg['status'] == true)
                    window.location.href="/";
                else
                    $("#loginError").show();
            })
        })
    })
</script>
</body>
</html>
