{#include file='header.html'#}
{#include file='navbar.html'#}
<body>
<div class="am-g">
    <div class="am-u-lg-4 am-u-lg-offset-8">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">登 录</a></li>
                <li><a href="#tab2">注 册</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <form action="" class="am-form" id="form-with-tooltip">
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2-0">用户名：</label>
                                <input type="text" id="doc-vld-name-2-0"
                                       placeholder="请输入用户名" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-pwd-1-0">密 码：</label>
                                <input type="password" id="doc-vld-pwd-1-0" placeholder="请输入密码（至少6位）" pattern="^\d{6}$" required data-foolish-msg="请输入密码！"/>
                            </div>
                            <div class="am-radio">
                                <label>
                                    <input type="radio" name="doc-radio-1" value="option1" checked>
                                    学生
                                </label>
                            </div>

                            <div class="am-radio">
                                <label>
                                    <input type="radio" name="doc-radio-1" value="option2">
                                    教师
                                </label>
                            </div>
                            <div style = "text-align:right;">
                            <button class="am-btn am-btn-secondary" type="button" id="SignIn" >确认登录</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                    <form action="" class="am-form" data-am-validator>
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">用户名：</label>
                                <input type="text" id="doc-vld-name-2" minlength="3"
                                       placeholder="请输入用户名" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">姓 名：</label>
                                <input type="text" id="doc-vld-name-2" minlength="3"
                                       placeholder="请输入真实姓名" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-pwd-1">密 码：</label>
                                <input type="password" id="doc-vld-pwd-1" placeholder="请输入密码（至少6位）" pattern="^\d{6}$" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-pwd-2">确认密码：</label>
                                <input type="password" id="doc-vld-pwd-2" placeholder="请与上面输入的密码一致" data-equal-to="#doc-vld-pwd-1" required/>
                            </div>
                            <div class="am-radio">
                                <label>
                                    <input type="radio" name="doc-radio-1" value="option1" checked>
                                    学生注册
                                </label>
                            </div>

                            <div class="am-radio">
                                <label>
                                    <input type="radio" name="doc-radio-1" value="option2">
                                    教师注册
                                </label>
                            </div>
                            <div style = "text-align:right;">
                            <button class="am-btn am-btn-secondary" type="submit">确认注册</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function(){
        $("#SignIn").click(function () {
            var username = $("#StuNumber").val();
            var password = $("#Password").val();
            $.post("/learning_c/user/login", {username:username, password:password}, function(data){
                var arg = eval("(" + data + ")");
                /*if(arg['status'] == true)
                    window.location.href="/";
                else
                    $("#loginError").show();*/
            })
        })
    })
</script>
{#include file='footer.html'#}
