<header class="am-topbar">
    <h1 class="am-topbar-brand">
        <a href="#">C学习跟踪平台</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li{#if !isset($navbar)#} class='am-active'{#/if#}><a href="#">首页</a></li>
            <li><a href="#">练习</a></li>
            <li><a href="#">资源学习</a></li>
            {#if isset($smarty.session.privilege) && $smarty.session.privilege == 1#}
            <li{#if isset($navbar) && $navbar == 'Chapter'#} class='am-active'{#/if#}><a href="/learning_c/chapter/show">章节管理</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">题目管理<span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="#">新增题目</a></li>
                    <li><a href="#">修改题目</a></li>
                    <li class="am-active"><a href="#">删除题目</a></li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">资源管理<span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="#">新增资源</a></li>
                    <li><a href="#">修改资源</a></li>
                    <li class="am-active"><a href="#">删除资源</a></li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">用户管理<span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="#">教师学生绑定</a></li>
                    <li><a href="#">修改题目</a></li>
                    <li class="am-active"><a href="#">删除题目</a></li>
                </ul>
            </li>
            {#/if#}
        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
        {#if isset($smarty.session.username) #}
        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>{#$smarty.session.username#}<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">退出登录</a></li>
                </ul>
            </div>
        </div>
        {#else#}
        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" onclick="window.location.href='/learning_c/index/login'">登录</button>
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">注册</button>
        </div>
        {#/if#}
    </div>
</header>