{#include file='header.html'#}
{#include file='navbar.html'#}
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        第一章-第二节-函数运用
    </h2>
</div>
<p>&nbsp;</p>
<div class="am-g">
    <div class="am-u-lg-6 am-u-lg-offset-3">
        <form class="am-form">
            {#$i = 1#}
            {#foreach $lists as $row#}
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd" onclick="$(this).next().toggle()">
                    {#$i#}、{#$row[0][1]#}
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group afg">
                        <input type="hidden" value="{#$row[0][0]#}">
                        {#foreach $row[1] as $op#}
                            <label class="am-radio-inline"><input type="radio" value="{#$op[0]#}" name="select[{#$i#}]"/>{#$op[1]#}</label><br/>
                        {#/foreach#}
                    </div>
                </div>
            </div>
            {#$i = $i+1#}
            {#/foreach#}

            <div class="am-text-center">
                <button class="am-btn am-btn-danger" type="button"  id="submit">提交作业</button>
            </div>
        </form>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提交作业提醒</div>
        <div class="am-modal-bd" id="info">
            确认提交吗？提交后不可修改
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确认</span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#submit").click(function(){
            var answer = new Array();
            var key = new Array();
            var findSig = false;

            for(var i = 1; i <= $(".afg").size(); i++) {

                var val = $("input[name='select[" + i + "]']:checked").val();
                var k = $("input[name='select[" + i + "]'").parent().parent().children().eq(0).val();
                key.push(k);
                if(typeof(val) == 'undefined')
                {
                    findSig = true;
                    $("input[name='select[" + i + "]']").parent().parent().parent().parent().removeClass('am-panel-default');
                    $("input[name='select[" + i + "]']").parent().parent().parent().parent().addClass('am-panel-danger');
                }
                else
                {
                    $("input[name='select[" + i + "]']").parent().parent().parent().parent().addClass('am-panel-default');
                    $("input[name='select[" + i + "]']").parent().parent().parent().parent().removeClass('am-panel-danger');
                    answer.push(val);
                }
            }
            if(findSig)
            {
                $("#info").html("还有题目并未作答，请检查！");
                $("#alert").modal();
            } else {
                $.post("/learning_c/exam/answer", {options: answer, pros:key, log_id:{#$log_id#}}, function (data) {
                    var arg = eval('(' + data + ")");
                    if(arg['status'] == true) {
                        $("#info").html("提交成功 3秒后自动跳转");
                        $("#alert").modal();
                        window.setTimeout("window.location.href='/learning_c/exam/result/{#$log_id#}'", 3000);
                    }
                })
            }
        })

    })
</script>
{#include file='footer.html'#}
