<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/amazeui.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/amazeui.min.js"></script>
    <title>教学资源列表</title>
</head>

<body>
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        资源列表
    </h2>
</div>

<div class="am-g">
    <div class="am-u-lg-8 am-u-lg-offset-2">
        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div clas="am-list-news-bd">
                <ul class="am-list">
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">C语言类型简介</a>
                        <span class="am-list-date">admin | 2013-09-18 </span>
                    </li>
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">流程控制结构</a>
                        <span class="am-list-date">admin | 2013-09-18</span>
                    </li>
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">数组与字符串</a>
                        <span class="am-list-date">admin | 2013-09-18</span>
                    </li>
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">函数与指针</a>
                        <span class="am-list-date">admin | 2013-09-18</span>
                    </li>
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">内存对齐</a>
                        <span class="am-list-date">admin | 2013-09-18</span>
                    </li>
                    <li class="am-a am-list-item-dated" >
                        <a href="/" data-am-popover="{content:'这里是内容预览', trigger:'hover focus'}">结构体测试</a>
                        <span class="am-list-date">admin | 2013-09-18</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12 am-text-select">
                <ul data-am-widget="pagination" class="am-pagination am-pagination-select">
                    <li class="am-pagination-prev"><a href="#">上一页</a></li>
                    <li class="am-pagination-select">
                        <select  data-am-selected>
                            <option value="1">第1页</option>
                            <option value="1">第2页</option>
                            <option value="1">第3页</option>
                            <option value="1">第4页</option>

                        </select>
                    </li>
                    <li class="am-pagination-next"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>
