{#include file='header.html'#}
{#include file='navbar.html'#}
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        编辑学习资源
    </h2>
</div>
<p>&nbsp;</p>
<div class="am-g">
    <div class="am-u-lg-8 am-u-lg-offset-2 am-text-center">
        <form class="am-form am-form-inline">
            <div class="am-form-group">
                <input type="text" id="title" class="am-form-field" value="{#$title#}" placeholder="请输入标题"/>
            </div>
            <div class="am-form-group">
                <select data-am-selected id="sectionID">
                    <option value="-1">请选择章</option>
                    {#foreach $sectionLists as $row#}
                    <option {#if $row[0] == $sectionID#}selected{#/if#} value="{#$row[0]#}">{#$row[1]#}</option>
                    {#/foreach#}
                </select>
            </div>
            <div class="am-form-group" >
                <select data-am-selected id="chapterID">
                    <option value="-1">请选择节</option>
                </select>
            </div>

        </form>
        <script id="editor" type="text/plain"></script>
        <button class="am-btn am-btn-danger" type="button" id="submit">提交（保存）</button>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提交提醒</div>
        <div class="am-modal-bd" id="info">
            确认提交吗？提交后不可修改
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确认</span>
        </div>
    </div>
</div>
<script src="/learning_c/ext/ueditor/ueditor.config.js"></script>
<script src="/learning_c/ext/ueditor/ueditor.all.min.js"> </script>
<script src="/learning_c/ext/ueditor/editor/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('editor');
    var arg;
    ue.ready(function() {
        ue.setContent(arg['body']);
    });
    var sec_cha_id = {#$sec_cha_id#};

    function refresh()
    {
        var val = $("#sectionID").val();
        $.post("/learning_c/problem/get_chapter", {sectionID:val}, function(data){
            var arg = eval("(" + data  + ")");
            if(arg['status'] == true) {
                $("#chapterID").html('<option value="-1">请先选择章</option>');
                for(var i = 0; i < arg['res'].length; i++) {
                    if(sec_cha_id == arg['res'][i][0])
                        $("#chapterID").append('<option selected value="'+arg['res'][i][0]+'">'+arg['res'][i][2]+'</option>');
                    else
                        $("#chapterID").append('<option value="'+arg['res'][i][0]+'">'+arg['res'][i][2]+'</option>');
                }
            }
        })
    }

    $(document).ready(function(){
        $("#editor").css("height", "500px");
        $("#editor").css("margin", "40px 0px");

        $.post("/learning_c/resource/get_body", {resid:{#$resID#}}, function(data){
            arg = eval("(" + data + ")");

        })
        refresh();
        $("#sectionID").change(function(){
            refresh();
        })

        $("#submit").click(function(){
            var sec_cha_id = $("#chapterID").val();
            var title = $("#title").val();
            var body = ue.getContent();
            if(typeof(sec_cha_id) == 'undefined' || sec_cha_id == -1) {
                $("#info").html("还未选择章节！");
                $("#alert").modal();
            } else if (title.length == 0) {
                $("#info").html("标题不能为空！");
                $("#alert").modal();
            } else if(body.length == 0) {
                $("#info").html("文章内容不能为空！");
                $("#alert").modal();
            } else {
                $.post("/learning_c/resource/do_add", {sec_cha_id:sec_cha_id, title:title, body:body}, function(data){
                    var arg = eval("(" + data + ")");
                    if (arg['status'] == true) {
                        window.location.href = '/learning_c/resource/lists';
                    } else {
                        $("#info").html("提交失败，请重试");
                        $("#alert").modal();
                    }
                })
            }
        })
    })
</script>
{#include file='footer.html'#}
