{#include file='header.html'#}
{#include file='navbar.html'#}
<div class="am-g">
    <div class="am-u-sm-8 am-u-lg-centered">
        </br>
        <button type="button" class="am-btn am-btn-primary am-btn-block">查看学生做题情况</button>
        </br>
        <select data-am-selected>
            <option value="a" selected>641</option>
            <option value="b">642</option>
            <option value="o">643</option>
        </select>

        <select data-am-selected>
            <option value="a" selected>第一章</option>
            <option value="b">第二章</option>
            <option value="o">第三章</option>
            <option value="o">第四章</option>
        </select>
        <select data-am-selected>
            <option value="a" selected>第一节</option>
            <option value="b">第二节</option>
            <option value="o">第三节</option>
        </select>
    </div>
</div>
<div class="am-g">
    <div class="am-u-sm-8 am-u-lg-centered">
        <table class="am-table">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>测试次数</th>
                <th>平均得分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>64101</td>
                <td>张三</td>
                <td>3</td>
                <td>85</td>
            </tr>
            <tr>
                <td>64102</td>
                <td>李四</td>
                <td>10</td>
                <td>74</td>
            </tr>
            <tr>
                <td>64103</td>
                <td>王五</td>
                <td>8</td>
                <td>36</td>
            </tr>
            <tr>
                <td>64104</td>
                <td>张三</td>
                <td>3</td>
                <td>85</td>
            </tr>
            <tr>
                <td>64105</td>
                <td>李四</td>
                <td>10</td>
                <td>74</td>
            </tr>
            <tr>
                <td>64106</td>
                <td>王五</td>
                <td>8</td>
                <td>36</td>
            </tr>
            <tr>
                <td>64107</td>
                <td>小样</td>
                <td>5</td>
                <td>50</td>
            </tr>
            <tr>
                <td>64108</td>
                <td>张三</td>
                <td>3</td>
                <td>85</td>
            </tr>
            <tr>
                <td>64109</td>
                <td>王五</td>
                <td>8</td>
                <td>36</td>
            </tr>
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-centered">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

</div>
{#include file='footer.html'#}
